<nav class="navbar m-0 p-0">
  <div
    class="ms-4 me-4 d-flex justify-content-between align-items-center w-100"
  >
    <div class="fs-5 fw-medium p-3">Employee Management System</div>
    <div class="d-flex align-items-center">
      <button
        type="button"
        class="ms-2 me-2 nav-link"
        [ngClass]="{ active: isHome }"
        (click)="openHome()"
      >
        Home
      </button>
      <button
        type="button"
        class="ms-2 me-2 nav-link"
        [ngClass]="{ active: isEmployee }"
        (click)="openEmployee()"
      >
        Employees
      </button>
      <button
        type="button"
        class="ms-2 me-2 nav-link"
        [ngClass]="{ active: isDesignation }"
        (click)="openDesignation()"
      >
        Designations
      </button>
    </div>
  </div>
</nav>
