<div class="d-flex justify-content-center mt-5">
  <div class="w-50">
    <div class="d-flex justify-content-center mb-4">
      <h3>Create Employee</h3>
    </div>
    <form id="employeeForm" (ngSubmit)="addEmployee()">
      <div class="mb-3">
        <label>First Name</label>
        <input
          type="text"
          class="form-control mt-2"
          name="firstname"
          [(ngModel)]="employee.firstname"
        />
      </div>
      <div class="mb-3">
        <label>Last Name</label>
        <input
          type="text"
          class="form-control mt-2"
          name="lastname"
          [(ngModel)]="employee.lastname"
        />
      </div>
      <div class="mb-3">
        <label>Salary</label>
        <input
          type="number"
          class="form-control mt-2"
          name="salary"
          [(ngModel)]="employee.salary"
        />
      </div>
      <div class="mb-3">
        <label>Designation</label>
        <select
          class="form-select"
          [(ngModel)]="employee.designation"
          name="designation"
        >
          @for(item of designations.data; track $index){
          <option [value]="item.designationId">
            {{ item.designationName }}
          </option>
          }
        </select>
      </div>
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary mt-3">Add</button>
      </div>
    </form>
  </div>
</div>
